// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


//CUSTOM CSS
.text-left {
  text-align: left;
}

.no-margin {
  margin: 0;
}

.text-color-primary{
  color: #387EF5 !important;
}

.text-color-danger{
  color: #F53D3D !important;
}

.alert-message, .action-sheet-group {
  overflow: hidden;
}

.font-lg{
  font-size: 34px;
}

.font-md{
  font-size: 24px;
}

.pointer {
  cursor: pointer;
}

//custom css
.searchbar-ios .searchbar-input {
  padding: 0 28px;
  border-radius: 5px;
  height: 3rem;
  font-size: 1.4rem;
  font-weight: 400;
  color: #000;
  background-color: rgba(0, 0, 0, 0.2);
}
.searchbar-ios {
  padding: 0 8px;
  min-height: 44px;
  border-top: 0.55px solid transparent;
  border-bottom: 0.55px solid rgba(0, 0, 0, 0.05);
  background: #fff;
}